@dropzone-height: 200px;
.dropzone {
  position: absolute;
  top: 100px;
  left: 20px;
  background: white;
}

.dropzone {
  height: @dropzone-height;
  padding: 10px;
  margin: 10px;
  .dz-preview {
    display: none;
  }
  .dz-default.dz-message {
    line-height: @dropzone-height * 2/3;
    // Always show after an upload since we only upload one file at a time.
    opacity: 1;
    background-image: none;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    font-weight: bold;
    span {
      display: block;
    }
  }
}
